.card {
	display: grid;
	margin-block: 10px;
	grid-template-areas:
		'badge heading'
		'badge sub';

	grid-template-columns: max-content auto;
	background-color: rgb(216, 215, 215);
	padding: 1.2em;
}

.card .badge {
	grid-area: badge;
	margin-inline-end: 1em;
	width: 50px;
	background-color: #ed6a5a;
}

.card p {
	font-size: clamp(1.4em, 1.2em + 10vw, 2em);
	font-weight: bold;
}

.card h3 {
	grid-area: heading;
}

.card p {
	grid-area: sub;
}