.profile-container {
  display: grid;
  grid-gap: 20px;
}

.profile-image {
  width: 250px;
  justify-self: center;
  height: max-content;
  position: relative;
}

.profile-image-updater {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.6em 0.8em;
  background-color: var(--image-button);
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

.profile-image-updater:hover,
.profile-image-updater:foucs-visible {
  background-color: var(--image-button-hover);
}

.input-group p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-light);
}

.input-buttons {
  margin-top: 1.7em;
  display: grid;
  column-gap: 0.5em;
  grid-template-columns: repeat(2, max-content);
}

.profile-update,
.profile-edit {
  background-color: var(--button-background);
}

.profile-update:hover,
.profile-update:foucs-visible,
.profile-edit:hover,
.profile-edit:foucs-visible {
  background-color: var(--button-hover);
}

.cancel-update {
  background-color: transparent;
  color: var(--text-gray);
}

.cancel-update:hover,
.cancel-update:foucs-visible {
  background: unset;
  color: var(--light-red);
}

@media (min-width: 900px) {
  .profile-container {
    grid-template-columns: minmax(200px, 350px) 1fr;
  }

  .profile-image {
    width: 280px;
    justify-self: start;
    z-index: 0;
  }

  .input-group {
    grid-column: span 2;
  }

  .profile-name,
  .profile-blood-type {
    grid-column: 2 / -1;
  }
}
