.profile-container {
	display: grid;
	grid-gap: 20px;
}

.input-group > p {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--text-light);
}

.input-buttons {
	margin-top: 1.7em;
	display: grid;
	column-gap: 0.5em;
	grid-template-columns: repeat(2, max-content);
}

.profile-update,
.profile-edit {
	background-color: var(--button-background);
}

.profile-update:hover,
.profile-update:focus,
.profile-edit:hover,
.profile-edit:focus-visible {
	background-color: var(--button-hover);
}

.cancel-update {
	background-color: transparent;
	color: var(--text-gray);
}

.cancel-update:hover,
.cancel-update:focus-visible {
	background: unset;
	color: var(--light-red);
}
