.important-message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: min(1em, 8vw);
	flex-grow: 1;
	background-color: var(--card-background);
}

.important-message p {
	font-weight: 500;
	color: var(--text-light);
}

.important-action {
	padding: min(0.5em, 8vw) min(1.6em, 10vw);
	font-size: 0.9em;
	background-color: var(--card-button-background);
	color: var(--text-light);
	outline: none;
	border: none;
	transition: all 0.1s linear;
}

.important-action:hover,
.important-action:focus-visible {
	background-color: var(--card-button-hover);
}
