@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --light: #e9eaec;
  --basecolor: #d9dbdd;
  --textcolor: #333652;
  --btncolor: #004683;
  --header-height: 70px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.container {
  background-color: #eee;
}

img {
  display: flow-root;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--light);
}

#root {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--light);
}

@media (min-width: 1200px) {
  #root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    justify-items: start;
  }
}
