.input-group {
  display: flex;
  flex-direction: column;
}

.input-group + .input-group {
  margin-block: 0.8em;
}

.input-group > :first-child {
  margin-block-end: 0.3rem;
}

.input-group label {
  color: #999;
}

.input-group input,
.input-group select {
  height: 2.5rem;
  padding-inline: 10px;
  font-size: 1.1rem;
}

/* button */
.button {
  outline: none;
  border: none;
  padding: 0.8em 1.5em;
  font-weight: bold;
  background-color: rgb(64, 101, 224);
  color: #fff;
  transition: all 0.2s linear;
}

.button:hover,
.button:focus {
  background-color: rgb(59, 96, 219);
}
