.input-group {
	display: flex;
	flex-direction: column;
	max-width: 650px;
}

hr {
	border: none;
	background-color: var(--text-gray);
	height: 1px;
}

.input-group + .input-group {
	margin-block: 0.8em;
}

.input-group > :first-child {
	margin-block-end: 0.3rem;
}

.input-group label {
	color: var(--text-gray);
}

.input-group input,
.input-group select {
	height: 2.5rem;
	padding-inline: 10px;
	font-size: 1.1rem;
}

/* button */
.button {
	outline: none;
	border: none;
	padding: 0.8em 1.5em;
	font-weight: bold;
	background-color: var(--button-background);
	color: #fff;
	transition: all 0.2s linear;
}

.button:hover,
.button:foucs-visible {
	background-color: var(--button-hover);
}
